$square-height-and-width: 5rem;

*,
html {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.square {
  height: $square-height-and-width;
  width: $square-height-and-width;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}

.square.active {
  background-color: blue;
}

.square.visited {
  background-color: purple;
}

.square.searched {
  background-color: orange;
}

.square.empty {
  background-color: white;
}

.square.wall {
  background-color: grey;
}

.square.start {
  background-color: green;
}

.square.finish {
  background-color: red;
}

.grid {
  display: grid;
  grid-template-columns: repeat(10, $square-height-and-width);
}
.buttton-container {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  width: $square-height-and-width * 10;
}

button {
  border: solid;
  border-color: black;
  border-width: 1px;
  background-color: white;
  color: black;
  height: 2rem;
  border-radius: 50px;
  padding: 0 10px 0 10px;
}

button:hover {
  background-color: black;
  color: white;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}
